@charset "utf-8";
/* CSS Document */

*{margin:0;padding:0;list-style-type:none;}

.search{
	
	margin-left:30px;
}
.search:hover{
	border:2px solid #F27A46;
}
.search:hover{
	color:#F27A46;
}
.searchbutton:hover{
	border:1px solid #F27A46;
	color:#F27A46;
}

.searchbutton{
	height:26px;
	width:100px;
	margin-right:30px;
}


a,img{border:0;text-decoration:none;}
.top { height:auto; overflow:hidden; padding-bottom:2px;}
.top .top1 { height:29px; background:url(../images/top_hy.jpg); line-height:29px; }
.mainbanner{height:182px;overflow:hidden; position:relative;}
.mainbanner_window{left:50%;width:1920px;height:250px;overflow:hidden;margin-left:-960px;position:absolute;}
.mainbanner_window ul{width:999999px;height:250px;position:relative;}
.mainbanner_window li{background:rgb(204, 204, 204);width:1920px;height:250px;text-align:center;font-size:0px;float:left;display:inline;}
.mainbanner_list{left:50%;top:155px;width:250px;height:30px;margin-left:-75px;position:absolute;}
.mainbanner_list li{width:30px;height:30px;overflow:hidden;float:left;display:inline;}
.mainbanner_list a{background:url("../images/50c15ece07fd0f3407000083.png") no-repeat;width:25px;height:25px;line-height:25px;overflow:hidden;text-align:center;color:rgb(255, 255, 255);font-size:12px;font-weight:700;float:left;display:inline-block;}
.mainbanner_list li.active a{background-position:0 -30px;text-decoration:none;}
.mainbanner_list li a:hover{background-position:0 -30px;text-decoration:none;}



a{color:#666;}
a:hover{color:red;}
body{font: 12px/150% Arial,Verdana,"\5b8b\4f53";color: #666;}
/*侧边栏*/
.jdm-toolbar-wrap {
position: fixed;
_position: absolute;
top: 0;
right: 0;
z-index: 9990;
width: 0;
height: 100%;
}
.jdm-toolbar {
position: absolute;
right: 0;
top: 0;
width: 0;
height: 100%;
border-right: 6px solid #7a6e6e;
-webkit-transition: right .3s ease-in-out 0s;
-moz-transition: right .3s ease-in-out 0s;
transition: right .3s ease-in-out 0s;
}
.jdm-toolbar-tab {
position: relative;
width: 35px;
height: 35px;
margin-bottom: 1px;
cursor: pointer;
background-color: #7a6e6e;
-webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
}
.jdm-toolbar-tabs {
position: absolute;
top: 50%;
left: -29px;
width: 35px;
margin-top: -61px;
}
.jdm-tbar-tab-cart .tab-ico {
background-position: -50px 0;
}
.jdm-tbar-tab-follow .tab-ico {
background-position: -50px -50px;
}
.jdm-tbar-tab-history .tab-ico {
background-position: -50px -100px;
}
.jdm-tbar-tab-message .tab-ico {
background-position: -190px -150px;
}
.jdm-tbar-tab-jimi .tab-ico {
background-position: -50px -150px;
}
.jdm-tbar-tab-top .tab-ico {
background-position: -50px -250px;
}
.jdm-tbar-tab-feedback .tab-ico {
background-position: -50px -300px;
}
.jdm-tbar-tab:hover .tab-ico {
background-color: #c81623;
}
.jdm-toolbar-tab .tab-ico {
width: 34px;
height: 35px;
margin-left: 1px;
position: relative;
z-index: 2;
background-color: #7a6e6e;
_display: block;
}
.jdm-tbar-panel-header .close-panel, .jdm-tbar-panel-header i, .jdm-toolbar-tab .tab-ico, .jdm-toolbar-tab .tab-tip, .jdm-toolbar-tabs .tabs-tip .ico {
display: inline-block;
background-image: url(../images/toolbar.png);
_background-image: url(../images/toolbar-png8.png);
background-repeat: no-repeat;
}


.jdm-toolbar-tab .tab-text {
width: 62px;
height: 35px;
line-height: 35px;
color: #fff;
text-align: center;
font-family: "微软雅黑";
position: absolute;
z-index: 1;
left: 35px;
top: 0;

-webkit-border-radius: 3px 0 0 3px;
-moz-border-radius: 3px 0 0 3px;
border-radius: 3px 0 0 3px;
-webkit-transition: left .3s ease-in-out .1s;
-moz-transition: left .3s ease-in-out .1s;
transition: left .3s ease-in-out .1s;
_display: none;
}



.root61 #guessyou li {
width: 201px;
}
#guessyou li {
float: left;
width: 197px;
overflow: hi1dden;
padding-bottom: 15px;
}
#guessyou .p-img {
text-align: center;
margin-bottom: 10px;
}
#guessyou .p-img img {
border: 0;
vertical-align: middle;
}
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var {
margin: 0;
padding: 0;
}
#guessyou li.fore1 .p-info {
border-left: none;
}
#guessyou .p-info {
padding: 0 36px;
border-left: 1px solid #e6e6e6;
}
#guessyou .p-name {
height: 36px;
margin-bottom: 6px;
}
#guessyou .p-price {
color: #b51d1a;
font-size: 18px;
}
#guessyou .p-price i {
font-size: 14px;
}

.list1 ul li:hover{
	background-color:#FC9;
}