body{margin:0;padding:0;font-family:arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;;}
.clearboth{
	clear:both;
}

.mycart01{
	margin-top:10px;
	margin-right:1px;
	
	width:59%;
	float:left;
	 border:solid 1px #999;
	
}
.mycart02{
	margin-top:10px;
	margin-right:2%;
	
	width:21%;
	float:right;
	 border:solid 1px #999;
	
}

.mycart03{
	margin-top:10px;
	margin-right:1px;
	margin-left:8px;
	width:19%;
	float:left;
	 border:solid 1px #999;
	
}
.mycartfirst-b{
	 background-color:#fff0d9;
	 
}
.mycartfirst-b-ml{
		margin-left:8px;
	 
}

.mycartleft{
	float:left;
	margin-left:5px;
	 background-color:#fff0d9;
}
.mycartright{
	float:left;
	 background-color:#fff0d9;
}


	.bottom{
		
	 border:solid 1px #999;
	height:500px;
	
	}
	.bottomleft{
		width:16.4%;
	 border:solid 1px #999;
	 float:left;
	  margin-top:5px;
	   margin-left:1px;
	height:480
	}
	.fabubottomleft{
		width:15%;
	 border:solid 1px #999;
	 float:left;
	  margin-top:5px;
	   margin-left:1px;
	height:360px;
	}
	.fabubottombgright{
		width:79.4%;
		  float:left;
	 border:solid 1px #999;
	 margin-left:15%;
	 
	  margin-top:5px;

	
	}
	.bottombgright{
		width:99.4%;
		  float:left;
	 border:solid 1px #999;
	 margin-left:9px;
	 
	  margin-top:5px;
	height:580px;
	
	}
	.bottombgright2{
		width:22.4%;
		  float:right;
	 border:solid 1px #999;
	 margin-left:9px;
	 
	  margin-top:5px;
	height:480px;
	
	}
	
	.lastbottom{width:100%;height:102px;
	background-color:#409B46}
	
.top-bar{background-color:#f3f3f3;text-align:center;padding:1.5em;}
a{padding-bottom:3px;text-decoration:none;}
ul{list-style:none;padding:0;margin:0;}
li{text-align:center;}

.nav-bar{position:relative;z-index:1000;overflow:hidden;min-width:900px;height:45px;}
.nav-bar:hover{overflow:visible;-webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
.nav-bg{position:absolute;width:100%;height:102px;background:#24619c;background:rgba(36,97,158,.95);-webkit-transition:.3s;transition:.3s;z-index:9999;}
.nav-top{height:43px;border-top:1px solid #5895d5;border-bottom:1px solid #3b92e9;background:#82CA9B;}
.nav-content{position:absolute;width:80%;left:10%;}
.nav-content-box{position:absolute;top:0;left:0;width:100%;}
.nav-content-box>li{float:left;line-height:43px;}
.nav-content-box>li:hover{background:#709537;}
.nav-content-box>li>span>a{display:block;width:100%;margin:0;height:41px;line-height:41px;}
.nav-content-box>li:hover>span>a{background:#338ce6;}
ul>li.index,ul>li.cat,ul>li.special,ul>li.user,ul>li.cooperation,ul>li.mobile{width:120px;}
ul>li.index{height:43px;}
ul.nav-content-box>li>ul{border-right:solid 1px #3a6fa2;margin:10px 0 6px}
ul.nav-content-box>li>ul:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.nav-content-box>li:hover>ul{border-right:none;padding-right:1px;}
ul.nav-content-box>li>ul>li{float:left;width:100%;line-height:2;text-align:center;}
ul.nav-content-box>li.cat>ul>li{width:49%;}
ul.nav-content-box>li>ul>li>a{display:block;width:100%;}