<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MiddleSchoolWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestSelectServlet</display-name>
    <servlet-name>TestSelectServlet</servlet-name>
    <servlet-class>com.domain.TestSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSelectServlet</servlet-name>
    <url-pattern>/TestSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestRandomServlet</display-name>
    <servlet-name>TestRandomServlet</servlet-name>
    <servlet-class>com.web.TestRandomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestRandomServlet</servlet-name>
    <url-pattern>/TestRandomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckServlet</display-name>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.web.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student_userServlet</display-name>
    <servlet-name>Student_userServlet</servlet-name>
    <servlet-class>com.web.Student_userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_userServlet</servlet-name>
    <url-pattern>/Student_userServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher_userServlet</display-name>
    <servlet-name>Teacher_userServlet</servlet-name>
    <servlet-class>com.web.Teacher_userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher_userServlet</servlet-name>
    <url-pattern>/Teacher_userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImagefabuServlet</display-name>
    <servlet-name>ImagefabuServlet</servlet-name>
    <servlet-class>com.web.ImagefabuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagefabuServlet</servlet-name>
    <url-pattern>/ImagefabuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
</web-app>